<!doctype html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/43daf91e79.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h3>Jobs</h3>
          <ul class="list">
          <% for(var i=0; i<list.length; i++) {%>
            <li class="message">
              <span><%= list[i].name %></span>
              <span><%= list[i].jobListing %></span>
              <span><%= list[i].connect %></span>
              <span><%= list[i].msg %></span>

              <% if(list[i] .checkBox === true) { %>
                <span><i class="fa-regular fa-square-check check-green" data-heart="true" aria-hidden="true"></i></span>
              <% } else { %>
                <span><i class="fa-regular fa-square-check check-regular" data-heart="false" aria-hidden="true"></i></span>
              <% } %>
              
              <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Add a message</h2>

        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="Job Listing" value="" name="jobListing">
            <input type="text" placeholder="Connect's Name" name="connect">
            <input type="text" placeholder="Message" name="msg">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
